<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cookie_clicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Cookie_clicker.Properties.Settings>
            <setting name="Click" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Cookies" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dClicks" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Upgrade" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StatClicks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Upgrade1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Upgrade1Buy" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Upgrade1BuyTen" serializeAs="String">
                <value>1650</value>
            </setting>
            <setting name="Upgrade2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Upgrade2Buy" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Upgrade2BuyTen" serializeAs="String">
                <value>16500</value>
            </setting>
            <setting name="h" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="m" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Upgrade3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Upgrade3Buy" serializeAs="String">
                <value>10000</value>
            </setting>
        </Cookie_clicker.Properties.Settings>
    </userSettings>
</configuration>